# darshan==3.4.3.0
networkx==3.2.1
pandas==2.2.2
xlsxwriter==3.1.4
matplotlib==3.7.1
openpyxl==3.1.2
graphviz==0.20.1
pygraphviz==1.9
seaborn
pyyaml
networkx
matplotlib
pydot
openpyxl
pyarrow
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
torch-scatter==2.1.1
torch-sparse==0.6.17
torch-cluster==1.6.1
torch-spline-conv==1.2.2
torch-geometric==2.3.0
graphviz

